# # USE THIS ENVINRONMENTS FOR ORACLE SCHEMA 
# # DB_SERVICE_NAME REPLACE DB_DATABASE ENVINROMENT
# DB_SERVICE_NAME="service_name"

# # USE THIS ENVINRONMENTS FOR MYSQL SCHEMA
# DB_DATABASE="database"
# DB_USERNAME="postgres"
# DB_PASSWORD="password"
# DB_HOST="host"
# DB_PORT="5432"

# # USE THIS ENVINRONMENTS ONLY POSTGRES 
# DB_SCHEMA="schema"